body {
  padding: 80px 80px;
  padding-top: 100px;
  background-color: #fffefe;
}
.loading-div {
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: url("images/greysmallclouds.gif");
}
.loading-p {
  margin-top: 65px;
  margin-left: -118px;
  font-size: larger;
  font-weight: bold;
  color: aquamarine;
}
.loading-rep {
  margin-top: 165px;
  margin-left: -110px;
  text-align: center;
  color: #4fa94d;
}

.WeatherForecast .info,
.temp {
  padding-top: 7px;
}
.WeatherForecast .temp {
  padding-left: 30px;
}

.Footer .git-repository {
  float: right;
  padding-top: 25px;
}
