body {
  padding: 80px 80px;
  padding-top: 100px;
  background-color: #fffefe;
  background-repeat: inherit;
}

.WeatherForecast .info,
.temp {
  padding-top: 7px;
}
.WeatherForecast .temp {
  padding-left: 30px;
}

.Footer .git-repository {
  float: right;
  padding-top: 25px;
}
