.WeatherDaily {
  text-align: center;
  padding-top: 10px;
}
.WeatherDaily .week:hover {
  color: #ffff;
  font-size: 20px;
  background: #5c636a;
}

.WeatherDaily .temperatures {
  font-weight: 600;
}
.WeatherDaily .temperature-max {
  opacity: 0.8;
}
.WeatherDaily .temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
